.banner-section {
  background-size: cover;
  background-position: center;
  padding: 200px 50px;
  width: 100%;
}

.banner-section h1 {
  color: white;
  margin: 0;
  margin-bottom: 16px;
  text-shadow: 2px 2px 5px #6F72CB;
  text-align: left;
  font-size: 60px;
}

.banner-section p {
  color: white;
  margin: 0;
  margin-bottom: 28px;
  text-shadow: 2px 2px 5px #6F72CB;
  opacity: 0.92;
}
